* {
  margin: 0;
  padding: 0;
}
header {
  padding: 47px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: #2e2c2b;
  transition: 0.3s;
}
nav ul li {
  list-style-type: none;
  margin: 0px 20px;
  font-size: 14px;
}
nav ul li a:hover {
  color: #bbb9b6;
}
.symbol {
  display: flex;
  letter-spacing: 0.283em;
}

#amber {
  margin: 0px 20px 0px 0px;
  font-weight: 100;
  font-size: 33px;
  color: #bfbcb9;
}

#nova {
  color: #5f5f5f;
  font-size: 33px;
  font-weight: 100;
}
.nav-button {
  /* padding: px; */
}

.nav-button button {
  /* padding: 14px 37px; */
  width: 17vw;
  height: 5.5vh;
  color: white;
  background-color: #b9b4af;
  border: none;
  cursor: pointer;
  box-sizing: content-box;
  transition: 0.3s;
}
.nav-button button:hover {
  letter-spacing: 2px;
}

/* --------------header----------------*/

/* -------------------main------------- */
.contact{
    color: black;
}









.book-session {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f6;
  height: 40vh;
  color: #5d5a58;
}
.book-session-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: 0.088em;
  font-weight: 600;
  margin: 0 0 30px 0;
}
#heading-together {
  font-family: scriptina;
  margin: 0 0 30px 0;
}

.book-session button {
  box-sizing: border-box;
  margin: 30px 0 0 0;
  height: 5vh;
  padding: 10px;
  background-color: transparent;
  color: #5d5a58;
  border: solid 1.5px #5d5a58;
  width: 20vw;
  transition: 0.3s;
}
.book-session p {
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.035em;
  font-weight: 500;
  font-style: italic;
}

.book-session button:hover {
  letter-spacing: 2px;
  cursor: pointer;
}
/* ----------------------FOOTER---------------------*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.symbol1 {
  display: flex;
  letter-spacing: 0.283em;
  margin: 0 0 20px 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 30px 0;
}
footer img {
  width: 50px;
  margin: 0 10px;
  align-content: center;
}

footer p {
  margin: 0 0 20px 0;
  color: #5f5f5f;
  font-size: 12px;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px 0 0 0;
  translate: 0% 250%;
}
.contact button {
  width: 15vw;
  height: 6vh;
  background-color: transparent;
  color: #5f5f5f;
  border: solid 2px #5f5f5f;
  font-size: 20px;
  letter-spacing: 0.15em;
  font-weight: 100;
  font-style: italic;
  transition: 0.3s;
}

.contact button:hover {
  background-color: #434343;
  color: white;
}
.contact a:hover {
  color: white;
}
a {
  text-decoration: none;
  color: #5f5f5f;
}
